.categories--container {
    display: flex;
    justify-content: space-between;
}

.categories--image {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.categories--image__1 {
    background: url("../img/bathroom.jpeg");
    background-size: cover;
    position: relative;
}

.categories--image__2 {
    background: url("../img/kitchen.jpeg");
    background-size: cover;
    position: relative;
}

.categories--image__3 {
    background: url("../img/bedroom.jpeg");
    background-size: cover;
    position: relative;
}

.categories--image__4 {
    background: url("../img/living.jpeg");
    background-size: cover;
    position: relative;
}

.categories--image__caption {
    margin: 0;
    font-size: 2.75rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.categories--title {
    background-color: $banner-color;
    padding: 2.75rem 0 2.75rem 9rem;
    margin: 4rem 0 0 0;
    letter-spacing: .1rem;
    font-size: 2rem;
    text-transform: capitalize;

}

.categories--image__overlay {
    background: rgba(0, 0, 0, .45);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 200ms ease-in-out;
}

.categories--image__overlay:hover {
    background: none;
}
