.categories--container {
    display: flex;
    justify-content: space-between;
}

.categories--image {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.categories--image__1 {
    background: url("../img/bathroom.jpeg");
    background-size: cover;
    position: relative;
}

.categories--image__2 {
    background: url("../img/kitchen.jpeg");
    background-size: cover;
}

.categories--image__3 {
    background: url("../img/bedroom.jpeg");
    background-size: cover;
}

.categories--image__4 {
    background: url("../img/living.jpeg");
    background-size: cover;
}

.categories--image__caption {
    margin: 0;
    font-size: 2.75rem;
    font-weight: 500;
    color: white;
    letter-spacing: .2rem;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
}

.categories--title {
    background-color: $banner-color;
    padding: 2.75rem 0 2.75rem 9rem;
    margin: 4rem 0 0 0;
    letter-spacing: .1rem;
    font-size: 2rem;
    text-transform: capitalize;

}

// .categories--image__overlay {
//     background: rgba(0, 0, 255, 0.5);
//     position: absolute;
//     top: 0;
//     width: 100%;
//     height: 100%;
// }
