.footer {
    display: flex;
    justify-content: center;
    background-color: $banner-color;
    letter-spacing: .1rem;
    font-weight: 100;
    color: $secondary-color;
    font-size: .85rem;
    margin: auto auto 0 auto;
}
